<div class="admin">
  <div class="menubar">
    <div class="notifications">
      <div class="notify">
        
      </div>

      <fa-icon [icon]="faUser" class="user"></fa-icon>
      <h4>{{user.name}}</h4>
      <h3>ADMIN</h3>
    </div>

    <div class="menubar-btn">
      <button class="create-orders" (click)="showAddParcel('open')">
        Create orders
        <fa-icon [icon]="faArrowRight" class="notify-icon"></fa-icon>
      </button>

    

      <button class="orders">Orders</button>

      <button class="logout-btn" (click)="Logout()">Logout</button>
    </div>
  </div>

  <div class="main-body">
    <div class="header">
      <h2>ADMIN DASHBOARD</h2>
    </div>

    <div class="stat">
      <div class="stat-card">
        <div class="body">
          <span>DELIVERED PARCELS</span>

          <span>205</span>

          
          <fa-icon [icon]="faArchive"></fa-icon>

        </div>
      </div>

      <div class="stat-card">
        <div class="body">
          <span>PENDING PARCELS</span>

          <span>100</span>




          <fa-icon [icon]="faInbox"></fa-icon>
        </div>
      </div>

      <div class="stat-users">
        <div class="body">

          
          <span>USERS</span>

          <span>1500</span>

          <fa-icon [icon]="faUsers"></fa-icon>
        </div>
      </div>
    </div>

    <div class="parcel-header">
      <div class="head">
        

        <span>Track ID</span>

        <span>Location</span>

        <span>Destination</span>

        <span>Status</span>

        <span>Update</span>

        <span>Delete</span>
      </div>

      <div class="search">
        <input type="text" placeholder="search parcel by track number" [(ngModel)]="filteredText" />
      </div>

      <div class="parcels" *ngIf="parcels$ | async as parcels">


        <div *ngIf="parcels.length;else noParcels">
        <div
          class="parcel-item"
          *ngFor="
            let parcel of parcels
              | paginate: { itemsPerPage: 4, currentPage: p }
              | search: filteredText
          "
        >
          

          <span>{{parcel.trackId}}</span>

          <span>{{parcel.location}}</span>

          <span>{{parcel.destination}}</span>

          <span 
          
          class="{{ parcel.status === 0 ? 'pending' : 'delivered' }}" >
          
          {{
            parcel.status === 0 ? "pending" : "delivered"
          }}
        
        </span>

          <button

          

            class="{{ parcel.status === 0 ? 'btn-update' : 'delivered' }}"

            [disabled]="parcel.status > 0  "

            (click)="updateStatus(
            parcel.id,
            parcel.senderEmail,
            parcel.receiverEmail,
            parcel.trackId,
            parcel.location,
            parcel.destination,
            parcel.dispatchedDate,
            parcel.weight,
            parcel.price,
            parcel.markers,
            parcel.status,
            parcel.deleted)"


  
          >
            {{ parcel.status === 0 ? "update" : "delivered" }}
          </button>
          <fa-icon [icon]="faTrash" class="delete"  (click)="deleteParcel(parcel.id)" ></fa-icon>
        </div>
        </div>
        <pagination-controls
          (pageChange)="p = $event"
          class="list"
        ></pagination-controls>
      </div>
    </div>

    <ng-template #noParcels>



      <div class="none">


          No Parcels

      </div>
      

  </ng-template>

  </div>
</div>

<div class="add-parcel" *ngIf="openAddModal">
  <div class="add-parcel-body">
    <div class="close">
      <fa-icon
        [icon]="faCancel"
        class="notify-icon"
        (click)="showAddParcel('close')"
        class="close"
      ></fa-icon>
    </div>

    <div class="parcel-item">
      <div class="add-parcel-item">
        <div class="space"></div>

        <div class="add-parcel-item-head">
          <div class="add-parcel-item-head-title">
            <h3>Create Order</h3>
          </div>
        </div>

        <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="input-item">
            <label for="">Sender Email</label>

            <input type="text" formControlName="senderEmail" />
          </div>

          <div class="input-item">
            <label for="">Receiver Email</label>

            <input type="text" formControlName="receiverEmail" />
          </div>

          <div class="input-item">
            <label for="">Track number</label>

            <input type="text" formControlName="trackNumber" />
          </div>

          <div class="input-item">
            <label for="">Weight</label>

            <input type="number" formControlName="weight" />
          </div>

          <div class="input-item">
            <label for="">Price</label>

            <input type="number" formControlName="price" />
          </div>

          <div class="input-item">
            <label for="">Location</label>

            <div class="location">
              <div class="location-head">
                <span>From</span>

                <span>To</span>
              </div>

              <div class="location-input">
                <input type="text" formControlName="from"  ngx-google-places-autocomplete  (onAddressChange)="handleSenderAddressChange($event)"/>

                <input type="text" formControlName="to" ngx-google-places-autocomplete  (onAddressChange)="handleReceiverAddressChange($event)"/>
              </div>
            </div>
          </div>

          <div class="input-item">
            <label for="">Dispatched Date</label>

            <input type="date" class="date" formControlName="dispatchedDate" />
          </div>

          <button class="add-btn" [disabled]="!form.valid">Submit</button>
        </form>
      </div>

      
    </div>
  </div>
</div>
