.admin {
  display: flex;

  position: relative;
}

.menubar {
  flex: 1;

  background-color: #fff;

  height: 100vh;

  box-shadow: #aaaaaa;
}

.notifications {


  margin: 10px;

  height: 40%;

  width: 95%;

  color: #4b4242;
}

.user{

  font-size: 75px;

  display: flex;

  align-items: center;

  justify-content: center;

  color: #AAA;
}

.notifications h3,h4{

display: flex;

align-items: center;

justify-content: center;
}
.notify {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 30px;

  color: #fff;

  font-size: 18px;
}
.notify-icon {
  font-size: 15px;

  cursor: pointer;
}

.menubar-btn {
  display: flex;

  flex-direction: column;

  width: 200px;

  margin: 20px;
}

.menubar-btn button {
  margin: 9%;

  background-color: #d78287;

  padding: 10px;

  border: none;

  color: #fff;

  cursor: pointer;

  display: flex;

  align-items: center;

  justify-content: space-between;
}



.main-body {
  flex: 4;
}

.header {
  display: flex;

  align-items: center;
  justify-content: center;

  color: #4b4242;
}

.stat {
  display: flex;

  align-items: center;
}

.stat-card {
  height:200px;

  width: 300px;

  background-color: #fff;

  border-radius: 5px;

  margin: 5px 20px;

  color: #4b4242;

  box-shadow: 10px 10px 5px #aaaaaa;
}

.body {
  display: flex;
  font-size: 15px;

  flex-direction: column;

  margin: 10%;
}

.body span {
  font-size: 20px;
}

.stat-users {
  color: #fff;

  color: #4b4242;

  box-shadow: 10px 10px 5px #aaaaaa;

  height: 200px;

  width: 300px;
}

.delivered {
  color: #82d78a;

  background-color: #fff;

  border: none;
}

.pending {
  color: #d78287;

  cursor: pointer;
}

.parcel-header {
  height: 150px;

  width: 85%;

  

  border-radius: 5px;

  
}

.head {
  display: flex;

  justify-content: space-evenly;

  padding: 10px;

  font-size: 16px;

  
}

.head span {
  color: #4b4242;
}



.search {
  display: flex;

  align-items: center;

  justify-content: center;
}

.search input {
  width: 60%;



  padding: 10px;

  border-radius: 10px;
}

.parcels {
  margin-top: 70px;
}

.parcel-item {
  display: flex;

  justify-content: space-evenly;

  color: #4b4242;

  margin: 10px;
}

.btn-update {
  border: none;

  padding: 5px;
  background-color: #d78287;

  color: #fff;

  cursor: pointer;
}

.delete {
  cursor: pointer;
  color: #d78287;
}

.btn-delivered {
  border: none;
}

.add-parcel {
  background-color: rgba(0, 0, 0, 0.4);

  position: absolute;

  top: 0;

  left: 0;

  height: 100%;

  padding-top: 20px;
  width: 100%;
}

.add-parcel-body {
  height: 90%;

  width: 70%;

  background-color: #fff;

  margin: 0px auto;
}

.date {
  width: 230px;
  padding: 5px;
}

.close {
  display: flex;

  justify-content: flex-end;

  color: red;

  font-size: 25px;

  cursor: pointer;
}
.space {
  padding: 0.5px;
}

.parcel-item {
  display: flex;

  align-items: center;
}

.add-parcel-item {
  height: 80%;

  width: 60%;

  background-color: #82d78a;

  font-size: 13px;

  padding: 5px;

  flex: 1;
}

.my-google-map {
  flex: 1.5;

  margin-left: -5px;
}

.add-parcel-item-head {
  width: 80%;

  height: 5%;

  margin: 5px auto;

  display: flex;

  align-items: center;

  justify-content: center;

  background-color: #f9e57c;
}

.add-parcel-item-head-title {
  display: flex;

  align-items: center;

  justify-content: center;

  color: #d78287;
}

form {
  display: flex;

  flex-direction: column;

  color: #fff;

  display: flex;

  align-items: center;

  justify-content: center;
}

.input-item {
  width: 60%;

  display: flex;

  align-items: center;

  justify-content: space-between;

  margin: 9px;
}

.input-item input {
  border: none;
}

form button {
  background-color: #d78287;

  margin: 10px;

  border: none;

  padding: 5px;

  width: 250px;

  color: #fff;

  cursor: pointer;
}

.location-head {
  display: flex;

  align-items: center;

  justify-content: space-evenly;
}

.location-input {
  display: flex;

  align-items: center;

  justify-content: space-between;
}

.location-input input {
  width: 100px;

  margin: 5px;

  border: none;
}

.list {
  max-width: 100%;
  display: flex;

  margin: 10px;

  align-items: center;

  justify-content: center;
}

.my-pagination ::ng-deep {
  background: red;
}
.list-item {
  color: #4b4242;
}
li {
  margin-bottom: 5px;
}
