.register {
  display: flex;

  height: auto;
}

.register-form {
  background-color: #f9e57c;

  height: auto;

  margin: 10px;

  width: 500px;
}

input.ng-touched.ng-invalid {
  border-left: px solid red;
}

input.ng-valid.ng-touched {
  border-left: 5px solid green;
}

.header {
  height: 130px;

  width: 400px;

  background-color: #82d78a;

  margin: 30px;
}

.header span {
  display: flex;

  align-items: center;

  justify-content: center;

  padding: 30px;

  font-size: 18px;

  width: 70%;
  color: #fff;
}

form {
  display: flex;

  flex-direction: column;

  margin: 0px 70px;
}

label {
  margin: 10px;

  color: #82d78a;
}

form input {
  padding: 5px;

  border: none;

  border-radius: 5px;
}

.btn-register {
  margin-top: 20px;

  border: none;

  padding: 10px;

  background-color: #d78287;

  color: #fff;
}

.already-have-account {
  margin-left: 50px;

  color: #82d78a;

  cursor: pointer;
}

a {
  color: inherit;

  text-decoration: none;
}

.error {
  color: red;
  font-size: 12px;
}
.brown-text {
  color: #d08d57;
}

@media screen and (max-width: 600px) {
  .register {
    display: flex;

    flex-direction: column;

    height: auto;

    margin: 20px;

    width: 300px;
  }

  .header span {
    display: flex;

    align-items: center;

    justify-content: center;

    padding: 20px;

    font-size: 13px;

    width: 70%;
    color: #fff;
  }

  .already-have-account {
    margin-left: 10px;

    color: #82d78a;

    cursor: pointer;
  }

  img {
    display: none;
  }

  .register-form {
    background-color: #f9e57c;

    height: auto;

    margin: 10px;

    width: 300px;
  }

  .header {
    height: 130px;

    width: 250px;

    background-color: #82d78a;

    margin: 30px;
  }
}
