<div class="register">

    <div class="image">

        <img src="../../../assets/admin-login.jpg" alt="">
    </div>


    <div class="register-form">

        <div class="header">
            <span>Register and get your order prepared faster and track them</span>
        </div>


        <form action="">


            <label for="">Name </label>

            <input type="text">


            <label for="">Email</label>

            <input type="text">

            <label for="">Password</label>

            <input type="password">

            <label>Confirm password</label>

            <input type="password">


            <button class="btn-register">
                Register
            </button>


            <span class="already-have-account"> <a routerLink="/auth/login"> Already have an account?</a></span>
        </form>


    </div>
</div>