<app-navbar></app-navbar>


<div class="home">


    <div class="image">


        <img src="../../assets/Delivery-Service-Business-in-Dubai.jpg" alt="">


        <button>CALL US  <fa-icon [icon]="faPhone"></fa-icon></button>

    </div>


    <div class="description">

       <h2>GET YOUR PARCEL DELIVERED BY EXPERTS</h2>

       <span>WE DELIVER PARCELS ACROSS THE COUNTRY WITH LOW COST AS KSH 200</span>



       <button (click)="navigateToAbout()">Get Started  <fa-icon [icon]="faRightArrow"></fa-icon></button>
    </div>
</div>

<app-footer></app-footer>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>