<div class="login">


    <div class="image">

        <img src="../../../assets/admin-login.jpg" alt="">
    </div>


    <div class="login-form">

    <form>
        <label for="">Email</label>

        <input type="Enter email" placeholder="Enter email">

        <label for="">Password</label>

        <input type="password" placeholder="Enter password">


        <button class="btn-login">Login</button>


        <span class="already-have-account"> <a routerLink="/auth/register">You don't have an account?</a> </span>

        
    </form>
    </div>
</div>
