.parcels{

    display: flex;


    position: relative;

    
}

.parcels-quote-list{

    flex: 3;

    height: 100vh;

    background-color: #F9E57C;


}

.parcel-header{

    display: flex;

    justify-content: space-between;
}

.parcel-header h2{

    margin-left: 20px;

    color: #82D78A;
}

.convert{

    margin-right: 20px;

    
}

.convert-head{

    display: flex;

    justify-content: space-between;

    align-items: center;

    color: #6F6767;
}

.convert-body input{

    width: 100px;

    margin: 20px;

    border: none;
}

.btn-convert{

    margin-left: 100px;

    width: 100px;

    border: none;

    background-color: #82D78A;

    cursor: pointer;

    color: #fff;

    padding: 5px;
}

.orders-table{

    margin-top: 50px;
}

.orders-head{

    display: flex;

    justify-content: space-evenly;

    align-items: center;

    margin: 20px;

    background-color: #82D78A;

    height: 80px;

    color: #fff;
}

.orders-item{

    display: flex;

    justify-content: space-evenly;

    margin: 20px;

   

}
.logout{

    cursor: pointer;
}
.orders-item-btn{

    background-color: #D78287;

    color: #fff;

    border: none;

    padding: 5px;
}

.orders-item-delivered{

    color: #82D78A;

    border: none;
}



.select{

    display: flex;
    justify-content: flex-end;
color: #6F6767;
    margin: 30px;
}


.notification-map{

    flex: 1;



}

.notification-header{

    display: flex;

    align-items: center;

    justify-content: space-between;

    height: 10vh;

    background-color: #82D78A;

    margin: 10px;

    padding: 30px auto;

    color: #fff;

    
}


.notify{

    font-size: 20px;

    margin-left: 20px;

    position: relative;
}

.notify-number{

    position: absolute;

    top: 0;

    right: -10px;

    background-color: #fff;
    height: 20px;

    width: 20px;

    border-radius: 50%;

    color: #D78287;

    font-size: 12px;

    display: flex;

    align-items: center;

    justify-content: center;
}

.notification-header span{

    margin-right: 20px;
}


.notify_me{

    display: flex;

    margin: 20px auto;

}


.notifications{

    height: 30vh;

    background-color: #D78287;

    margin: 10px;
    

    
}

.notifications-body{

    padding: 20px;
}

.notifications-card{

    display: flex;

    align-items: center;

    justify-content: space-between;

    font-size: 12px;

    color: #333;

    background-color: #fff;
    margin: 10px;
    height: 40px;

    
    width: 100%;
}

.delete-notification{

    color: red;

    margin-right: 20px;

    font-size: 18px;
}

img{

    object-fit: cover;

    height: 330px;

    width: 200px;
}

.location{


    color: #82D78A;

    font-size: 20px;

    cursor: pointer;

    height: 20px;

    width: 20px;
}
.hambuger-icon{

    font-size: 25px;

    margin-top: 150px;

    margin-left: 30px;

    color: #444;

    cursor: pointer;
}

.menu-bar{

    width: 22%;

    height: 100vh;

    position: absolute;

    top: 0;

    background-color: #82D78A;

    z-index: 999;

    left: 0;

    transition: all 1s ease-in-out;
}

fa-icon{

    cursor: pointer;

    color: #fff;
}

.user-icon{


    font-size: 70px;

    margin-top: 20px;

    

    color: #fff;
}

.profile{

    display: flex;

    flex-direction: column;

    align-items: center;

    color: #fff;
}

.close{

    color: #fff;

    font-size: 30px;

    display: flex;
    justify-content: flex-end;

    margin: 30px;
}

.profile span{

    margin-top: 30px;

    cursor: pointer;

    transition: all 1s ease;
}

.profile span:hover{

    text-decoration: underline;
}

.show-map{

    height: 100%;

    top: 0;

    left: 0;

    width: 100%;

    z-index: 999;

    position: absolute;

    background-color: rgba(0, 0, 0, 0.5);


}

.map-item{

    height: 530px;

    width: 90%;

    

    margin:  5% auto;

    background-color: #fff;
}


.close-map fa-icon{

    color: #d1411e;

    font-size: 25px;

    display: flex;
    
    justify-content: flex-end;

    cursor: pointer;

    margin: 30px;
}
.map-details{

    display: flex;

    margin: 50px;

    

    
}


.map-details ul{
    list-style: none;

    font-size: 13px;

}

.map-details ul li{

    margin: 30px;

}

.details{

    flex:1;
}

.track-map{

    flex: 5;

    margin: 20px;
}

.track-map img{

    height: 400px;

    width: 600px;

    object-fit: cover;
}

.list {
    max-width: 100%;
    display: flex;

    margin: 10px;

    align-items: center;

    justify-content: center;

   
    
  }

  .my-pagination ::ng-deep{
    background: red;
  }
  .list-item{

    color: #4B4242;
  }
  li {
    margin-bottom: 5px;
  }


  @media screen and (max-width: 600px){

    .notification-map{

       display: none;
    
    
    
    }


    .track-map{

        display: none;
    }
    .parcels{

        font-size: 12px;
        
    }


    .menu-bar{

        width: 50%;
    
        height: 100vh;
    
        position: absolute;
    
        top: 0;
    
        background-color: #82D78A;
    
        z-index: 999;
    
        left: 0;
    
        transition: all 1s ease-in-out;
    }

    .parcels-quote-list{

    
        height: auto;
    
        background-color: #F9E57C;

        font-size: 12px;
    
    
    }
    .orders-head{

        display: flex;
    
        justify-content: space-evenly;
    
        align-items: center;
    
        margin: 0px;

        width: 100%;
    
        background-color: #82D78A;
    
        height: 80px;
    
        color: #fff;
    }

    .convert{

        margin-right: 0px;
    
        
    }

    .convert input{

        width: 50px;
    }

    .btn-convert{

        margin: 20px;
    }
  }


